@use "../../assets/sass/variables.scss" as *;


.author__container {
    display: flex;
    align-items: center;
    margin-top: 5px;

    .author__img {
        border-radius: 50%;
        width: 50px;
        height: 100%;
    }

    .author__text {
        margin-left: 5px;
        display:block;
        justify-content: center;    
}

    .author__name, .author__date {
        text-align: center;
    }
}
