@use "../../assets/sass/variables.scss" as *;

.sideNav {

}

.topic {
    margin-bottom: 100px;

    p {
        color: $color-grey;
    }

    button {
        background-color: white;
        padding: 7px 16px 9px;
        border: 1px solid $color-black;
        border-radius: 99em;
        border-width: 1px;
        font-size: 14px;
        font-weight: 400;
        color: $color-black;
    }
}

.otherTopics {
    
    &__header {
        text-transform: capitalize;
        padding-bottom: 10px;
        border-bottom: 1px solid lightgrey;
        text-align: left;
    }

    &__topics {
        display: block;
        list-style-type: none;
        text-align: left;
        padding: 0;

    }

    &__topic {
        text-transform: capitalize;
        color: $color-grey;
        text-decoration: none;
        text-align: left;
        justify-content: left;
        padding-top: 5px;

    }
    
}

.sideNavArticles__header {
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    // font-family: 'Charter BT', sans-serif;
}
